      <!-- furnitures section start -->
      <div class="furnitures_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="furnitures_taital">Our Furnitures Work</h1>
                  <p class="furnitures_text">reader will be distracted by the readable content of a page when looking at its layout. </p>
               </div>
            </div>
            <div class="furnitures_section_2">
               <div class="row">
                  <div class="col-md-4">
                     <div class="hover01 column">
                        <figure><img src="images/img-1.png"></figure>
                     </div>
                     <h3 class="introduction_text">Bedroom</h3>
                     <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
                  <div class="col-md-4">
                     <div class="hover01 column">
                        <figure><img src="images/img-2.png"></figure>
                     </div>
                     <h3 class="introduction_text">Office</h3>
                     <div class="seemore_bt active"><a href="#">See More</a></div>
                  </div>
                  <div class="col-md-4">
                     <div class="hover01 column">
                        <figure><img src="images/img-3.png"></figure>
                     </div>
                     <h3 class="introduction_text">Bathroom</h3>
                     <div class="seemore_bt"><a href="#">See More</a></div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- furnitures section end -->